/dzwieki/00bo to byly laser.wav
/dzwieki/01wow.wav
/dzwieki/02womp womp.wav
/dzwieki/03wtf.wav
/dzwieki/04ala kurwa rzeczywiscie.wav
/dzwieki/05ales to kurwa zjebał.wav
/dzwieki/06wyjdziesz za mnie.wav
/dzwieki/07dlaczego kurwa.wav
/dzwieki/08Król Julian pobutka wstajemy.wav
/dzwieki/09witam w dupie.wav
/dzwieki/10cipi cipi capa capa dubi dubi.wav
/dzwieki/11ty jestes durny jak skurwol.wav
/dzwieki/12kapitan bomba napierdalamy.wav
/dzwieki/13 ale rzes.wav
/dzwieki/14Tempe chuje.wav
/dzwieki/15m e o w.wav
/dzwieki/16Zamknij morde klakier wyrucham.wav
/dzwieki/17nie powinien byc w kagancu.wav
/dzwieki/18wtf amigo.wav
/dzwieki/19tu nikogo nie ma.wav
/dzwieki/20broh.wav
/dzwieki/21wypierdalaj bo cie zjem.wav
/dzwieki/22mellstroy stop stop stop stop.wav
/dzwieki/23kurrrrrwa.wav
/dzwieki/24o kurwa rakiet.wav
/dzwieki/25fiu fiu ale bydle takim sprzetem.wav
/dzwieki/26Run, Bitch, Run!.wav
/dzwieki/27pornbuh.wav
/dzwieki/28no shit sherlock.wav
/dzwieki/29morda i do garow.wav
/dzwieki/30owca wk podaję ci rękę.wav
/dzwieki/31nice try.wav
/dzwieki/32 swierszcze.wav
/dzwieki/33No hejka, co tam się dzieje.wav
/dzwieki/34lewica.wav
/dzwieki/35szmato badz pokorna sucha.wav
/dzwieki/36anime ahh.wav
/dzwieki/37emotional damage meme.wav
/dzwieki/38czego napierdalasz w te drzwi.wav
/dzwieki/39mellstroy ty chuju.wav
/dzwieki/40twoja stara w iglo rozbierali.wav
/dzwieki/41we are the champions.wav
/dzwieki/42kolego po pierwsze to zamknij.wav
/dzwieki/43Jeszcze jak.wav
/dzwieki/44To było ekstraklasa.wav
/dzwieki/45przebiłem ci rękę.wav
/dzwieki/46gogogogogogogogogogo.wav
/dzwieki/47Family Guy Stop cryin.wav
/dzwieki/48mellstroy laugh.wav
/dzwieki/49obiecalem matce wyleczeczyc.wav
/dzwieki/50Cristiano Ronaldo Siuuu.wav
/dzwieki/51jestem gejem.wav
/dzwieki/52Dumb Ways To Die.wav
/dzwieki/53No to kurwa se chciej.wav
/dzwieki/54pojebało cię kurwa szmato.wav
/dzwieki/55I Co Teraz Powiesz Na To.wav
/dzwieki/56kurwaaa pojebie mnie zaraz.wav
/dzwieki/57smier ukrainie.wav
/dzwieki/58jestes az tak tempy.wav
/dzwieki/59Ciii zawrzyj pysk.wav
/dzwieki/60Proszę nie przeklinać smieciu.wav
/dzwieki/61otoz nie.wav
/dzwieki/62Jak pan jezus powiedzial.wav
/dzwieki/63Tak jak pan Jezus powiedział.wav
/dzwieki/64no to jestesmy w dupie.wav
/dzwieki/65perfect perfect.wav
/dzwieki/66inwestyczja sie zwraca.wav
/dzwieki/67twoja matka kurwa byla.wav
/dzwieki/68co ty tam pierdolisz.wav
/dzwieki/69pierdol sie dziwko jebana.wav
/dzwieki/70Mission Impossible.wav
/dzwieki/71kurwa widzisz mnie.wav
/dzwieki/72Don't Worry Be Happy.wav
/dzwieki/73nie dostaniesz mojej dupy.wav
/dzwieki/74Good job.wav
/dzwieki/75Sad Violin.wav
/dzwieki/76Andrzeju nie denerwuj się.wav
/dzwieki/77mellstroy business meme.wav
/dzwieki/78Szybciej z tą lodziarnia.wav
/dzwieki/79mellstroy bravo.wav
/dzwieki/80jaki ty kurwa madry jestes.wav
/dzwieki/81Jesteśmy zgubieni.wav
/dzwieki/82jedynie co mi mozesz chuja.wav
/dzwieki/83No i chuj, no i cześć.wav
/dzwieki/84IT'S NOT OVER UNTIL YOU.wav
/dzwieki/85Pulpet wam spierdolil.wav
/dzwieki/86gay echo.wav
/dzwieki/87witam cie kolezanko.wav
/dzwieki/88 MURZYN Z TRUMNA.wav
/dzwieki/89blyat.wav
/dzwieki/90davai.wav
/dzwieki/91oh no no no.wav
/dzwieki/92oh no hahaha laugh.wav
/dzwieki/93prosze sie martwic.wav
/dzwieki/94NGR kopa w dupe.wav
/dzwieki/95pedro pe.wav
/dzwieki/96NGR zamknij morde.wav
/dzwieki/97Stachu Jones odpierdol się.wav
/dzwieki/98Niby fajnie ale szczerze.wav
/dzwieki/99Shut The Fuck Up.wav
/dzwieki/34niemcy hymn.wav
/czestotliwosci uzytwania.txt
